@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    width: 100vh;
    background-color: #121A21;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    text-align: left;
    padding: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    gap: 10px;
}

.titulos{
    font-family: "Space Grotesk", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    margin-left: -180px;
    margin-top: 24px;
}

.cajas{
    background-color: #243647;
    color: #FFFFFF;
    border-radius: 12px;
    width: 386px;
    height: 144px;
    border: none;
}

.condicion{
    color: #495057;
    font-size: 10px;
    margin-left: -220px;
}

.botones{
    border-radius: 12px;
    background-color: #243647;
    color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 9.5px 54px;
    border: none;
}
.botones:hover{
    background-color: #338AE8;
    color: #FFFFFF;
    font-weight: 700;
}

.boton__copiar{
    border-radius: 12px;
    background-color: #243647;
    color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 9.5px 98px;
    border: none;
    margin-top: 12px;
}
.boton__copiar:hover{
    background-color: #338AE8;
    color: #FFFFFF;
    font-weight: 700;
}

.footer{
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}
